.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

img {
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    transition: 0.3s ease;
    height: 300px;
}

.gallery-wrapper {
    overflow: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}